<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">RecipeSite</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/recipes">Recipes</a>
            <a href="/recipes/add" class="btn-primary">Add Recipe</a>
        </div>
    </div>
</nav>

<div class="container">