<%- include('../partials/header', { title: 'Home' }) %>

<h1>Recipe Dashboard</h1>


<div class="card-grid">
<% proteinSummary.forEach(item => { %>
    <div class="card">
        <h3><%= item.protein_type %></h3>
        <p><%= item.count %> recipes</p>
    </div>
<% }) %>
</div>

<%- include('../partials/footer') %>