<!DOCTYPE html>
<html>
<head>
    <title>Recipe Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Recipe Dashboard</h1>

<h2>Recipes by Protein Type</h2>

<ul>
    <% proteinSummary.forEach(item => { %>
        <li>
            <%= item.protein_type %>:
            <%= item.count %> recipes
        </li>
    <% }) %>
</ul>

<br>

<a href="/recipes">View All Recipes</a>
<br>
<a href="/recipes/add">Add New Recipe</a>

</body>
</html>