<%- include('../partials/header', { title: 'Home' }) %>

<h1>Recipe Dashboard</h1>

<ul>
    <% proteinSummary.forEach(item => { %>
        <li>
            <%= item.protein_type %>:
            <%= item.count %> recipes
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') %>